@include pageflow-page-type(embedded_video);

.embedded_video_page {
  .iframeWrapper, .iframe_overlay {
    margin-bottom: 40px;
    pointer-events: all;
    height: initial;
    padding-top: 56.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include phone {
      height: auto;
      padding-top: 62.5%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.widescreened {
      position: absolute;
      width: 45%;
      max-height: 600px;
      right: 10%;
      margin-top: 16%;
      margin-bottom: 0;
      z-index: 1;
      padding-top: 33%;
    }

    &.full_width,
    &.full_width.widescreened {
      width: 100%;
      float: none;
      position: relative;
      height: initial;
      padding-top: 56.25%;
      margin-bottom: 40px;
      margin-top: initial;
      right: initial;
      max-height: initial;
    }

    &:before {
      padding: 15px;
      background-color: #191919;
      background-color: rgba(25,25,25, 0.9);
      box-shadow: rgba(0,0,0,0.5) 0 0 3px 0px;
      content: "";
      position: absolute;
      top: -15px;
      left: -15px;
      width: 100%;
      z-index: -1;
      height: 100%;

      @include phone {
        content: initial;
      }
    }

    .text_position_right &.widescreened,
    .text_position_right &.full_width {
      right: auto;
      left: 8%;
      width: 42%;
    }

    .bigScreen & {
      position: absolute;
      width: 86% !important;
      height: 87%;
      top: 10%;
      left: 5% !important;
      z-index: 201;
      margin-top: 0 !important;
      max-height: none !important;
    }

    &.active {
      iframe {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .iframe_container {
    .close_button {
      display: none;
    }

    .has_mobile_platform & {
      pointer-events: none;
      height: 0;
      padding-top: 0;
      position: relative;
      overflow: hidden;
      opacity: 0;
      @include transition(opacity 0.5s);
      z-index: 1;

      &:before {
        content: "";
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.9;
      }

      &.show {
        width: 100%;
        height: 100%;
        pointer-events: all;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;

        .close_button {
          display: block;
        }
      }
      .iframeWrapper {
        @include transform(translate(0, -50%));
        width: initial;
        top: 50%;
        margin-right: 85px;

        @media screen and (orientation: landscape) {
          top: 60px;
          padding-top: 0;
          bottom: 60px;
          position: absolute;
          left: 0;
          right: 0;
          margin-bottom: 0;
          @include transform(none);
        }

        @include mobile {
          margin-right: 0;
        }

        &:before {
          background-color: initial;
        }
      }
    }
  }
}
